
div.react-datepicker{
  border-color: #03e3eb;
  background-color: rgba( 3,227,235,0.16);
  /* left arrow to go to previous month */
  .react-datepicker__navigation--previous {
    left: 0px;
  }

  /* right arrow to go to previous month */
  .react-datepicker__navigation--next {
    right: 0px;
  }

  .react-datepicker__month-container {
    font-size: 2rem;  


        div.react-datepicker__header {
          background-color: #0c001e;
          border-bottom-color:#03e3eb;
        }

      div.react-datepicker__current-month {
        font-size: 2.5rem;
        color: #fff;
        }

      div.react-datepicker__header__dropdown {
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 0;
        /* used when month  dropdown option is enabled */
        div.react-datepicker__month-dropdown-container {
          select.react-datepicker__month-select {
            font-size: 2rem;
            }
          }
        /* used when year  dropdown option is enabled */
        div.react-datepicker__year-dropdown-container {
          select.react-datepicker__year-select {
            font-size: 2rem;
            }
        }
      }
    
      div.react-datepicker__day-name{
        color: #fff;
      }
      

      /* contains rows of dates */
      div.react-datepicker__month{

        div.react-datepicker__week{
        }

        div.react-datepicker__day{
          color: #fff;

          &:hover{
            color: #0c001e;
          }
        }

        div.react-datepicker__day--disabled{
          color: #4f4f4f;
          &:hover{
            color: #4f4f4f;
          }
        }
      }
  }
}
